// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables

// Bootstrap
@import '~admin-lte/dist/css/adminlte.min.css';


.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.btn-google:focus, .btn-google.focus {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0,0,0,0.2);
}
